[flake8]
max-complexity = 10
max-line-length = 79
max-doc-length = 78
doctests = 1
show-source = 1
statistics = 1
exclude =
    */migrations/*
    */settings/*
    */settings.py
ignore =
    # nothing to ignore
